{% extends "./plantilla.html" %}

{% block titulo %}
<h1 class="display-1 text-secondary text-center mb-0">Faculty List</h1>
{% endblock %}

{% block contenido %}

{% if messages %}
{% for message in messages %}
<script>
    Swal.fire({
        title: "Success!",
        text: "{{ message }}",
        icon: "success"
    });
</script>
{% endfor %}
{% endif %}

<div class="text-end mb-3">
    <a href="{% url 'newFaculty' %}" class="btn btn-primary">New Faculty</a>
</div>

<table class="table table-bordered table-striped table-hover" id="tbl_faculties">
    <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>ACRONYM</th>
            <th>DEAN NAME</th>
            <th>PHONE</th>
            <th>EMAIL</th>
            <th>YEAR OF FOUNDATION</th>
            <th>ACTIONS</th>
        </tr>
    </thead>
    <tbody>
        {% for faculty in faculties %}
        <tr>
            <td>{{ faculty.id }}</td>
            <td>{{ faculty.name }}</td>
            <td>{{ faculty.acronym }}</td>
            <td>{{ faculty.dean_name }}</td>
            <td>{{ faculty.phone }}</td>
            <td>{{ faculty.email }}</td>
            <td>{{ faculty.year_foundation }}</td>
            <td>
                <a class="btn btn-warning" href="{% url 'editFaculty' faculty.id %}">
                    <i class="fa fa-pen"></i> Edit
                </a>
                <a href="#" onclick="confirmDelete('{% url 'deleteFaculty' faculty.id %}')"
                   class="btn btn-danger"><i class="fa fa-trash"></i> Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    function confirmDelete(url) {
        Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = url;
            }
        });
    }
</script>

<script>
    $('#tbl_faculties').DataTable({
        dom: 'Bfrtip',
        buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
        language: {
            url: 'https://cdn.datatables.net/plug-ins/1.13.4/i18n/en-GB.json'
        }
    });
</script>

{% endblock %}
